 header{
	padding:20px;
}

a{
	padding:20px;
}

h1{
	padding:20px;
	
}

.media{
	padding:30px;
	width:100%;
}

 .resize1{ 	
 	width:305px;
 	align:center;
 }

.resize2{
	width:200px;
	height:200px;
}

.resize3{
	width:200px;
	height:200px;

}
.white-space{
	height:200px;
	margin-top:30px;
}

.back{
	width:100%;
}

.headlines{
	text-align:center; 
	padding:50px;

}

.card{
	padding-top:50px; 
	text-align:center;
	margin-left:100px;
	float:left;	
}


.addtocart{
	margin-left:50px;
	margin-top:50px;
	margin-bottom:90px;
}

.footer{
	float:left;
	height:90px;
	width:100%;
	margin-top:10px;
	padding:20px;
	background-color:#ccc;

    li{
    	a{
    		&:hover{
    			color:#006FFE; 
    		}
    	}
    }
	a{
		text-decoration: none;
		float:left;
		color: white;
	}

	ul{
		list-style-type: none; 
	}
}

.float{
	float:left;
}

.camera{
	margin-top:70px;
	padding:20px;

	button{
		margin-left: 150px;
		margin-top: 20px;
	}

}

.col-4{
	margin-top:100px; 
}

.charger{

	img{
		float: right;
		margin-right: -252px;
	}
}

.copy{
	float:left;
	margin-left: 68px;
    text-align: center;

    button{
    	margin-top:20px;
    }


}

.container{
	
}

